.skdslider{
 width:100%;
 position: relative;
 display: block;
 overflow:hidden;
 height:450px;
}

.skdslider ul.slides{ margin:0; padding:0; list-style-type:none;}
.skdslider ul.slides li
{
   display: none;
}
.skdslider ul.slides li img{
    width: 100%;
	height:100%;
	border:0;
}

.skdslider ul.slide-navs {
    bottom: 20px;
    right: 10%;
    position: absolute;
	list-style-type: none;
    margin: 0;
    padding: 0;
}


.skdslider ul.slide-navs li {
    float: left;
	background: url("img/slide-bg.png") no-repeat scroll 0 0 transparent;
	height:12px;
	width:12px;
	margin-right:4px;
	cursor:pointer;
}
.skdslider ul.slide-navs li.current-slide {
  background: url("img/slide-bg-active.png") no-repeat scroll 0 0 transparent;
}

.skdslider .slide-desc {
    background:#fff;
    color: #000000;
    left: 0;
    padding: 0 15px 0 15px;
    position: absolute;
    bottom: 15%;
    max-width: 85%;
	display:inline-block;
}
.skdslider .slide-desc > h2 {
    color: #CFDB0C;
    font-family: 'Oswald';
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

.skdslider .slide-desc > p {
    color: #000000;
    font-family: 'Oswald';
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
}
.skdslider .slide-desc > p a.more {
    color:#990000;
	font-size:20px;
	text-decoration:none;
}
.skdslider .slide-desc > p a.more:hover {
text-decoration:underline;
}

.skdslider a.prev{
    background: url("img/left.png") no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:2%;
	margin-top:-17px;
}

.skdslider a.next{
    background: url("img/right.png") no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:50%;
	right:2%;
	margin-top:-17px;
}
.skdslider a.prev:hover{
  
}
.skdslider a.next:hover{
  
}

.skdslider a.play{
    background: url("img/play.png") no-repeat scroll center center transparent;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:48%;
	margin-top:-17px;
}

.skdslider a.pause{
    background: url("img/pause.png") no-repeat scroll center center transparent;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:48%;
	margin-top:-17px;
}

.skdslider ul.slides li .slideDesc img{
	width: 108px;
	height: auto;
	float: right;
}

.slideDesc{
	max-width: 480px;
	position: absolute;
	display: inline-block;
	bottom: 36%;
	left: 20%;
	background: #ffffff;
	background:rgba(255,255,255,.7);
	padding: 8px;
}
.slideDesc h2{
	color: #2f6395;
	display: inline;
	font-size: 72px;
	font-weight: 700;
	float: left;
	line-height: 1.2;
	margin: 0;
}
.clearLeft{
	display: block;
	clear: left;
	color: #8fa831;
	font-size:36px; 
}
.slideDesc p{
	display: block;
	clear: both;
	color: #000000;
	font-size: 18px;
	line-height: 1.2;
	margin: 0;
}
.slideDesc a{
	font-weight: 700;
	color: #000000;
	display: block;
	clear: both;
}
.sliderWrapper{
	max-width:100%; 
	height:auto; 
	margin:0 auto;
}
.sliderContainer{
	margin-bottom: 24px;
}
/*Some Responsive CSS */
@media screen and (max-width:767px) {
	.skdslider .slide-desc > h2 {
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	
	.skdslider .slide-desc > p {
		font-size: 14px;
		line-height: 15px;
		margin-top: 5px;
	}
	.skdslider ul.slides li .slideDesc img{
		width: 50px;
		height: auto;
		float: right;
		margin: 0;
	}
	.skdslider .slide-desc > p a.more {
		font-size:14px;
	}

	.slideDesc{
		max-width: 220px;
	    bottom: 20%;
	    left: 10%;
	}
	.slideDesc h2{
		font-size: 26px;
	}
	.clearLeft{
		display: block;
		clear: left;
		color: #8fa831;
		font-size:16px; 
	}
	.slideDesc p{
		font-size: 10px;
	}
}